x-worker-template: &worker-template
  build:
    context: ./worker
    dockerfile: Dockerfile
  network_mode: host

services:
  routini:
    build:
      context: .
      dockerfile: routini/Dockerfile
    network_mode: host
    depends_on:
      - worker-1
      - worker-2
      - worker-3
      - worker-4
      - worker-5
      - worker-6
      - worker-7
      - worker-8
      - worker-9
      - worker-10
      - worker-11
      - worker-12
      - worker-13
      - worker-14
      - worker-15
      - worker-16
      - worker-17
      - worker-18
      - worker-19
      - worker-20
      - worker-21
      - worker-22
      - worker-23
      - worker-24
      - worker-25
      - worker-26
      - worker-27
      - worker-28
      - worker-29
      - worker-30
      - worker-31
      - worker-32
      - worker-33
      - worker-34
      - worker-35
      - worker-36
      - worker-37
      - worker-38
      - worker-39
      - worker-40

  worker-1:
    <<: *worker-template
    environment:
      - PORT=4001

  worker-2:
    <<: *worker-template
    environment:
      - PORT=4002

  worker-3:
    <<: *worker-template
    environment:
      - PORT=4003

  worker-4:
    <<: *worker-template
    environment:
      - PORT=4004

  worker-5:
    <<: *worker-template
    environment:
      - PORT=4005

  worker-6:
    <<: *worker-template
    environment:
      - PORT=4006

  worker-7:
    <<: *worker-template
    environment:
      - PORT=4007

  worker-8:
    <<: *worker-template
    environment:
      - PORT=4008

  worker-9:
    <<: *worker-template
    environment:
      - PORT=4009

  worker-10:
    <<: *worker-template
    environment:
      - PORT=4010

  worker-11:
    <<: *worker-template
    environment:
      - PORT=4011

  worker-12:
    <<: *worker-template
    environment:
      - PORT=4012

  worker-13:
    <<: *worker-template
    environment:
      - PORT=4013

  worker-14:
    <<: *worker-template
    environment:
      - PORT=4014

  worker-15:
    <<: *worker-template
    environment:
      - PORT=4015

  worker-16:
    <<: *worker-template
    environment:
      - PORT=4016

  worker-17:
    <<: *worker-template
    environment:
      - PORT=4017

  worker-18:
    <<: *worker-template
    environment:
      - PORT=4018

  worker-19:
    <<: *worker-template
    environment:
      - PORT=4019

  worker-20:
    <<: *worker-template
    environment:
      - PORT=4020

  worker-21:
    <<: *worker-template
    environment:
      - PORT=4021

  worker-22:
    <<: *worker-template
    environment:
      - PORT=4022

  worker-23:
    <<: *worker-template
    environment:
      - PORT=4023

  worker-24:
    <<: *worker-template
    environment:
      - PORT=4024

  worker-25:
    <<: *worker-template
    environment:
      - PORT=4025

  worker-26:
    <<: *worker-template
    environment:
      - PORT=4026

  worker-27:
    <<: *worker-template
    environment:
      - PORT=4027

  worker-28:
    <<: *worker-template
    environment:
      - PORT=4028

  worker-29:
    <<: *worker-template
    environment:
      - PORT=4029

  worker-30:
    <<: *worker-template
    environment:
      - PORT=4030

  worker-31:
    <<: *worker-template
    environment:
      - PORT=4031

  worker-32:
    <<: *worker-template
    environment:
      - PORT=4032

  worker-33:
    <<: *worker-template
    environment:
      - PORT=4033

  worker-34:
    <<: *worker-template
    environment:
      - PORT=4034

  worker-35:
    <<: *worker-template
    environment:
      - PORT=4035

  worker-36:
    <<: *worker-template
    environment:
      - PORT=4036

  worker-37:
    <<: *worker-template
    environment:
      - PORT=4037

  worker-38:
    <<: *worker-template
    environment:
      - PORT=4038

  worker-39:
    <<: *worker-template
    environment:
      - PORT=4039

  worker-40:
    <<: *worker-template
    environment:
      - PORT=4040
