[package]
name = "worker"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[[bin]]
name = "worker-bin"
path = "src/main.rs"


[dependencies]
axum = "0.8.6"
futures = "0.3.31"
tokio = { version = "1.47.1", features = ["full"] }
